<!DOCTYPE html>
<html>
<head>
	<title>Catálogo de productos</title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../lab2/css/s1.css">
	
</head>
<body>
<header>
<div class="header">
	<div class="producth">
	<h2>Chekea</h2>
	<img class="img1" src="../lab2/img/chekea.png" alt="logo2">
	<h2>Nunca Compres a ciegas, Chekea</h2>
</div>
</div>
</header>	<h1>Catálogo de productos</h1>
<nav>
		<a class="active" href="index.html">Inicio</a>
		<a href="Lab2MAguilar.html">Catalogo de Autos</a>
		<a href="seleccion.html">Agendar Citas</a>
		<a href="registro.html">Registrarse</a>
		<a href="login.html" style="float:right">Iniciar sesión</a>
	</nav>
	<div class="container">
		<div class="product" data-idproducto="Toyota" data-img="../lab2/img/auto1.jpg"
		data-des="Toyota-modelo" data-precio="10000.00" data-cantidad="0">
			<img class="imgp" src="../lab2/img/auto1.jpg" alt="Producto 1">
			<h3>Auto Usado 1</h3>
			<p>Historial del auto usado en la imagen etc. auto 1.</p>
			<p>Precio: $10000.00</p>
			<p class="Comprar">Agregar</p>
		</div>
		<div class="product" data-idproducto="KIA" data-img="../lab2/img/auto2.jpg"
		data-des="KIA-modelo" data-precio="2000.00" data-cantidad="0">
			<img class="imgp" src="../lab2/img/auto2.jpg" alt="Producto 2">
			<h3>Auto Usado 2</h3>
			<p>Historial del auto usado en la imagen etc. auto 2.</p>
			<p>Precio: $2000.00</p>
			<p class="Comprar">Agregar</p>
		</div>
		<div class="product" data-idproducto="Hyundai" data-img="../lab2/img/auto3.jpg"
		data-des="Hyundai-modelo" data-precio="7000.00" data-cantidad="0">
			<img class="imgp" src="../lab2/img/auto3.jpg" alt="Producto 3">
			<h3>Auto Usado 3</h3>
			<p>Historial del auto usado en la imagen etc. auto 3.</p>
			<p>Precio: $7000.00</p>
			<p class="Comprar">Agregar</p>
		</div>
		<div class="product" data-idproducto="Wolfwagen" data-img="../lab2/img/auto4.jpg"
		data-des="Wolfwagen-modelo" data-precio="5000.00" data-cantidad="0">
			<img class="imgp" src="../lab2/img/auto4.jpg" alt="Producto 4">
			<h3>Auto Usado 4</h3>
			<p>Historial del auto usado en la imagen etc. auto 4.</p>
			<p>Precio: $5000.00</p>
			<p class="Comprar">Agregar</p>
		</div>
		<div class="product" data-idproducto="Audi" data-img="../lab2/img/auto5.jpg"
		data-des="Audi-modelo" data-precio="15000.00" data-cantidad="0">
			<img class="imgp" src="../lab2/img/auto5.jpg" alt="Producto 5">
			<h3>Auto Usado 3</h3>
			<p>Historial del auto usado en la imagen etc. auto 3.</p>
			<p>Precio: $15000.00</p>
			<p class="Comprar">Agregar</p>
		</div>
		<div class="product" data-idproducto="Chevrolet" data-img="../lab2/img/auto6.jpg"
		data-des="Chevrolet-modelo" data-precio="9000.00" data-cantidad="0">
			<img class="imgp" src="../lab2/img/auto6.jpg" alt="Producto 6">
			<h3>Auto Usado 3</h3>
			<p>Historial del auto usado en la imagen etc. auto 3.</p>
			<p>Precio: $9000.00</p>
			<p class="Comprar">Agregar</p>
		</div>
		<!-- Agregar más productos aquí -->
		
	</div>
	<div class="container">
		<div id="carritoDeCompras"> </div>
        <h2 id=precioTotal>Total: B/.0.00</h2>
	</div>
<footer>
<p style="text-align:center;">Creado por Maez Aguilar Ejemplo altamente preliminar de la pagina web
</footer>
<script type="text/javascript" src="js/control.js"></script>
</body>
</html>