<!DOCTYPE html>
<html>
<head>
	<title>Catálogo de productos</title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../public/css/s1.css">
	
</head>
<body>
	<%- include('../public/partes/header.ejs'); %>
<h1>Inicio, Noticias y Mas</h1>

	<div class="container">
		<div class="product">
			<img class="imgp" src="../public/img/auto1.jpg" alt="Producto 1">
			<h3>Auto Usado 1</h3>
			<p>Historial del auto usado en la imagen etc. auto 1.</p>
			
		</div>
		<div class="product">
			<img class="imgp" src="../public/img/auto2.jpg" alt="Producto 2">
			<h3>Auto Usado 2</h3>
			<p>Historial del auto usado en la imagen etc. auto 2.</p>
			
		</div>
		<div class="product">
			<img class="imgp" src="../public/img/auto3.jpg" alt="Producto 3">
			<h3>Auto Usado 3</h3>
			<p>Historial del auto usado en la imagen etc. auto 3.</p>
			
		</div>
		<!-- Agregar más productos aquí -->
	</div>
<footer>
<p style="text-align:center;">Creado por Maez Aguilar Ejemplo altamente preliminar de la pagina web
</footer>
<%- include('../public/partes/footer'); %>
<script type="text/javascript" src="../public/js/control.js"></script>
</body>
</html>