<!DOCTYPE html>
<html>
<head>
	<title>Catálogo de productos</title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../lab2/css/r1.css">
	<link rel="stylesheet" type="text/css" href="../lab2/css/s1.css">
	
</head>
<body>
<header>
<div class="header">
	<div class="producth">
	<h2>Chekea</h2>
	<img class="img1" src="../lab2/img/chekea.png" alt="logo2">
	<h2>Nunca Compres a ciegas, Chekea</h2>
</div>
</div>
</header>	<h1>Registro</h1>
<nav>
		<a class="active" href="index.html">Inicio</a>
		<a href="Lab2MAguilar.html">Catalogo de Autos</a>
		<a href="seleccion.html">Agendar Citas</a>
		<a href="registro.html">Registrarse</a>
		<a href="#" style="float:right">Cerrar Sesion</a>
	</nav>
	<div class="container">
		<div class="profile-card">
			<form>
				<label for="nombre">Nombre:</label>
				<input type="text" id="nombre" name="nombre" required>
			  
				<label for="apellido">Apellido:</label>
				<input type="text" id="apellido" name="apellido" required>
			  
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>
			  
				<label for="contraseña">Contraseña:</label>
				<input type="password" id="contraseña" name="contraseña" required>
			  
				<label for="confirmar-contraseña">Confirmar contraseña:</label>
				<input type="password" id="confirmar-contraseña" name="confirmar-contraseña" required>
			  
				<input type="submit" value="Registrarse">
			  </form>
		</div>
		<!-- Agregar más productos aquí -->
	</div>
<footer>
<p style="text-align:center;">Creado por Maez Aguilar Ejemplo altamente preliminar de la pagina web
</footer>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>