
body {
  font-family: Arial, sans-serif;
}
.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  justify-content: center;

}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
h2 {
	text-align: center;
	margin-bottom: 20px;
  }
  .container .producth{
	width: 100px;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
  }
  .producth .img1 {
	width: 90%;
	height: 90%;
	object-fit: contain;
	justify-content: center;
	margin-bottom: 10px;
}
.producth h2 {
	text-align:center;
	font-size: 18px;
	object-fit: contain;
	margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #3e8e41;
}
.but{
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.container {
		padding: 20px;
	}
}

@media (max-width: 480px) {
   .container{
		padding: 10px;
	}
}
@media (max-width: 320px) {
   .container {
		padding: 10px;
	}
}