<!DOCTYPE html>
<html>
<head>
	<title>Catálogo de productos</title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../lab2/css/s1.css">
	
</head>
<body>
<header>
<div class="header">
	<div class="producth">
	<h2>Chekea</h2>
	<img class="img1" src="../lab2/img/chekea.png" alt="logo2">
	<h2>Nunca Compres a ciegas, Chekea</h2>
</div>
</div>
</header>	<h1>Agendar Citas</h1>
<nav>
		<a class="active" href="index.html">Inicio</a>
		<a href="Lab2MAguilar.html">Catalogo de Autos</a>
		<a href="seleccion.html">Agendar Citas</a>
		<a href="registro.html">Registrarse</a>
		<a href="login.html" style="float:right">Iniciar sesión</a>
	</nav>
	<div class="container">
		<li class="container" data-type="control_dropdown" id="provin1">
		<label class="" id="label_48" for="input_48">
			Provincia
		  </label>
		<div id="cid_480" class="">
			<select class="" name="prov" id="prov" style="width:500px" data-component="dropdown" onChange="toggleHidden4('#dist1')"> 
		  <option value=" " >Escoja un Taller</option>
		  <option value="Bocas del Toro" >Taller Bocas del Toro</option>
		  <option value="Coclé" >Taller Coclé</option>
		  <option value="Colón" >Taller Colón</option>
		  <option value="Chiriquí" >Taller Chiriquí</option>
		  <option value="Darién" >Taller Darién</option>
		  <option value="Herrera" >Taller Herrera</option>
		  <option value="Los Santos" >Taller Los Santos</option>
		  <option value="Panamá" >Taller Panamá</option>
		  <option value="Veraguas" >Taller Veraguas</option>
		  <option value="Guna Yala" >Taller Guna Yala</option>
		  <option value="Emberá-Wounaan" >Taller Emberá-Wounaan</option>
		  <option value="Ngäbe-Buglé" >Taller Ngäbe-Buglé</option>
		  <option value="Panama Oeste" >Taller Panama Oeste</option>
			</select>
		  </div>
		</li>
		<li class="container" data-type="control_dropdown" id="dist1" hidden>
			<label class="" id="label_48" for="input_48">
				Distrito
			  </label>
			  <div id="cid_480" class="">
				<select class="" name="dist" id="dist" style="width:500px" data-component="dropdown"> 
				  <option value=" " >Escoja el Distrito</option>
				</select>
			  </div>
			</li>
		<!-- Agregar más productos aquí -->
	</div>
	<div class="container">
		<div id="carritoDeCompras"> </div>
        <h2 id=precioTotal>Total: B/.0.00</h2>
	</div>
<footer>
<p style="text-align:center;">Creado por Maez Aguilar Ejemplo altamente preliminar de la pagina web
</footer>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>