<!DOCTYPE html>
<html>
<head>
	<title>Catálogo de productos</title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../public/css/s1.css">
	
</head>
<body>
	<%- include('../public/partes/header.ejs'); %>
<h1>Inicio, Noticias y Mas</h1>


	<div class="container">
		<form method="post" id="FAR" action="/colocar instruccion de registro de producto">
			<label for="marca">Marca:</label>
			<input type="text" id="marca" name="marca"><br><br>
		
			<label for="modelo">Modelo:</label>
			<input type="text" id="modelo" name="modelo"><br><br>
		
			<label for="descripcion">Descripción:</label>
			<textarea id="descripcion" name="descripcion"></textarea><br><br>
		
			<label for="ano">Año:</label>
			<input type="number" id="ano" name="ano"><br><br>
		
			<label for="kilometraje">Kilometraje:</label>
			<input type="number" id="kilometraje" name="kilometraje"><br><br>
		
			<label for="imagen">Imagen:</label>
			<input type="file" id="imagen" name="imagen"><br><br>
		
			<label for="contacto">Email o número de contacto:</label>
			<input type="text" id="contacto" name="contacto"><br><br>
		
			<input type="submit" value="Publicar">
		  </form>
	</div>
<footer>
<p style="text-align:center;">Creado por Maez Aguilar Ejemplo altamente preliminar de la pagina web
</footer>
<%- include('../public/partes/footer'); %>
<script type="text/javascript" src="../public/js/control.js"></script>
</body>
</html>